nav>.fuego{
margin-top: 90px;
margin-left: 250px;
}
nav>.primero{
    margin-left: 300px; 
    margin-top: -50px;
}
nav>.primero{
    font-family: "Rubik", monospace;
}
nav>.segundo{
    margin-left: 500px;
    margin-top: -55px;
    
}
nav>.segundo{
    text-decoration: none;
}
nav>.segundo>a{
    text-decoration: none;
    color: #4F5665;
}
nav>.tercero{
    display: flex;
    justify-content: end;
    margin-right: 450px;
    margin-top: -45px;
}
nav>.tercero{
    font-family: "Rubik",monospace;
}
nav>.cuarto{
    display: flex;
    justify-content:end ;
    margin-right: 250px;
    margin-top: -35px;
    
}
nav>.cuarto>button{
    width: 150px;
    height: 45px;
    margin-left: 1081px;
    border-radius: 100px;
    margin-top: -13px;
    border-color: #F53855;
}
nav>.cuarto>button{
    text-decoration: none;
    color: #F53855;
    background-color: transparent;
    border: 1 #F53855;
    font-family: "Rubik",monospace;
    font-size: 16px;
}
header>.quinto{
    display: flex;
    justify-content: end;
    margin-top: 100px;  
   
}
header>.quinto{
 margin-right: 120px;

}
header>.sexto{
    margin-top: -450px;
    margin-left: 150px;
    font-size: 30px;
}
header>.sexto{
    
    font-family: "Rubik",monospace ;
}
header>.septimo{
    font-size:20px ;
    margin-left: 150px;
    line-height: 30px;
    font-weight: 400;
}
header>.septimo{
    font-size: 16px;
    font-family: "Rubik", monospace;
    text-decoration: none;
    color: #4F5665;
}
header>.octavo>button{
    width: 250px;
    height: 60px;
    top: 466.66px;
    margin-left: 150px;
    border-radius: 10px;
}
header>.octavo>button{
    box-shadow: 0px 19px 20px 0px #F5383859;
    background-color: #F53838;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: white;
    border:0px
}
header>.octavo>button{
    font-family: "Rubik", monospace;
    font-size: 16px;
}
header>.noveno>button{
    width: 211.83px;
    height: 60px;
    top: 491.95px;
    margin-left: 170px;
    border-radius: 10px;
    margin-top: -70px;
}
header>.noveno{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    margin-right: 100px;
}
header>.nine{
   margin-left: 300px;
   margin-top: -85px;
}
header>.nine{
    text-decoration: none;
    font-size: 25px;
}
header>.nino{
    text-decoration: none;
    font-size:20px ;
}
header>.nino{
    margin-left:300px ;
    margin-top: -10px;
    font-weight: 400;
}
header>.nini{
    margin-left: 780px;
   margin-top: -90px;
}
header>.nina{
    margin-left: 780px;
    margin-top: -10px;
 }
 header>.nini{
    text-decoration: none;
    font-size:25px ;
 }
 header>.nina{
    text-decoration: none;
    font-size:20px ;
 }
 header>.mini{
    margin-left: 1250px;
   margin-top: -95px;
}
header>.mine{
    margin-left: 1250px;
    margin-top: -5px;
 }
 header>.mini{
    text-decoration: none;
    font-size: 25px ;
 }
 header>.mine{
    text-decoration: none;
    font-size:20px ;
 }
 header>.kiwi{
    display: flex;
    justify-content: center;
 }
 body>.decimo{
    margin-left: 150px;
    margin-top: -150px;
 }
 body>.onceavo{
    display: flex;
    justify-content: end;
 }
 header>hr{
    height: 125px;
    width: 0px;
 }
 body>.onceavo{
    margin-top: -400px;
    margin-right: 190px;
 }
 body>.onceavo{
    font-family: "Rubik",monospace;
    text-decoration: none;
 }
 body>.doceavo{
    margin-left: 965px;
    margin-top: -25px;
 }
 body>.doceavo{
    font-family: "Rubik",monospace;
    color: #4F5665;
 }
body>.treceavo{
    display: grid;
grid-template-columns: center;
}
body>.treceavo{
    margin-left: 965px;
}
body>.catorce{
    font-family: "Rubik",monospace;
color: #4F5665;
}
body>.catorce{
    margin-left: 1000px;
    margin-top:-122px ;
    line-height: 12px;
}
body>.column{
display: flex;
align-items: center;
justify-content: center;
margin-top: 250px;
}
body>.alumn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}
body>.alumn{
    font-family: "Rubik",monospace;
}
body>.column{
    font-family: "Rubik",monospace;
}
body>.quince{
    display: flex;
    justify-content: space-evenly;
}
body>.ko{
    list-style: none;
    list-style-image: url(imagenes/ok.svg);
    margin-left: 220px;
}
body>.co{
    list-style: none;
    list-style-image: url(imagenes/ok.svg);
    margin-left: 640px;
    margin-top: -135px;
}
body>.fo{
    list-style: none;
    list-style-image: url(imagenes/ok.svg);
    margin-left: 1050px;
    margin-top: -170px;
}
nav>.nine{
    font-family: "Rubik",monospace;
    font-size: 25px;
}
body>.al{
    font-family: "Rubik",monospace;
    margin-left: 300px;
}
body>.aa{
    font-family: "Rubik",monospace;
    margin-left: 720px;
    margin-top: -40px;
}
body>.aaa{
    font-family: "Rubik",monospace;
    margin-left: 1120px;
    margin-top: -40px;
}
body>.j>button{
    width: 177.88px;
    height: 45px;
    top: -2380px;
    margin-left: 230px;
    border-radius: 50px;
    border: 10p;
    border-color: #F53838;
}
body>.j>button{
    font-family: "Rubik",monospace;
    color: #F53838;
    background-color: transparent;
    border: 1 #F53838;
   
}
body>.jj>button{
    font-family: "Rubik",monospace;
    color: #F53838;
    background-color: transparent;
    border: 10 #F53838;
}
body>.jj>button{
     width: 177.88px;
    height: 45px;
    margin-top: -2400x;
    margin-left: 660px;
    border-radius: 50px;
    border: 10p #F53838;
    border-color: #F53838;
}
body>.jjj>button{
    width:  ;
    height: 60px;
    top: 466.66px;
    margin-left: 150px;
    border-radius: 10px;
}
body>.jjj>button{
    box-shadow: 0px 19px 20px 0px #F5383859;
    background-color: #F53838;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: white;
    border:0px
}
body>.jjj>button{
    font-family: "Rubik", monospace;
    font-size: 16px;
}


